header{
    display: block;;
    width:100%;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    background:white;
    .wrap{

        display: block;
        width:100%;
        margin: 0 auto;
        .logo{
            display: block;
           padding:10px 0;
        
          
            img{
                width: 100px;
                display: block;
            }
        }
    }

}